@{
    ViewBag.Title = "EmergencyHelplines";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Emergency Helpline Numbers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="~/Content/open-iconic-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />

    <link href="~/Content/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/aos.css" rel="stylesheet" />

    <link href="~/Content/ionicons.min.css" rel="stylesheet" />

    <link href="~/Content/flaticon.css" rel="stylesheet" />

    <link href="~/Content/icomoon.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />

    <script src="~/Scripts/scrolltotop.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>

        @@import url(http://fonts.googleapis.com/css?family=Raleway);

        .collapsible {
            background-color: #777;
            color: white;
            cursor: pointer;
            padding: 18px;
            width: 60%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            margin: 10px 10px 15px 10px;
        }

            .active, .collapsible:hover {
                background-color: #555;
            }

            .collapsible:after {
                content: '\002B';
                color: white;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

        .active:after {
            content: "\2212";
        }

        .content {
            padding: 0 18px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            width: 60%;
        }

        img {
            width: 100%;
            height: 200px;
        }

        .content-container {
            text-align: center;
        }

        .container-fluid {
            text-align: center;
        }






        * {
            box-sizing: border-box;
        }

        body {
            font-family: Kollektif, sans-serif, Raleway;
        }

        /* Float four columns side by side */
        .column {
            float: left;
            width: 25%;
            padding: 0 10px;
        }

        /* Remove extra left and right margins, due to padding in columns */
        .row {
            margin: 0 -5px;
        }

            /* Clear floats after the columns */
            .row:after {
                content: "";
                display: table;
                clear: both;
            }

        /* Style the counter cards */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
            padding: 15px;
            text-align: center;
            background-color: #f1f1f1;
        }

        /* Responsive columns - one column layout (vertical) on small screens */
        @@media screen and (max-width: 720px) {
            .column {
                width: 100%;
                display: block;
                margin-bottom: 20px;
            }
        }
    </style>
</head>
<body>




    <header>

        <a href="/Home/Index">
            <img src="~/Content/Fall_Relief_edited_new.png" style="width:20%; height:20%; left:50em" />
        </a>

        <div id='cssmenu'>
            <ul>
                <li><a href="/Home/Index" class="nav-link">Home</a></li>
                <li><a href="/Home/Assessment" class="nav-link">Assessment</a></li>
                <li><a href="/Home/Health Facility" class="nav-link">Health Facility</a></li>
                <li><a href="/Home/EmergencyHelplines" class="nav-link">Emergency Helplines</a></li>
            </ul>
        </div>

    </header>



    <div>

        <div class="row">
            <div class="column">
                <div class="card">
                    <h1 style="font-weight:bold">
                        Medical Health
                    </h1>
                    <h2>
                        <a href="https://www.diabetesaustralia.com.au/" target="_blank">Diabetes Australia</a>:
                        <a href="tel:1300136588" target="_blank">1300 136 588</a>
                    </h2>
                    <h2>
                        <a href="https://osteoporosis.org.au/" target="_blank">Osteoporosis Australia</a>:
                        <a href="tel:1800242141" target="_blank">1800 242 141</a>
                    </h2>
                    <h2>
                        <a href="https://www.heartfoundation.org.au/heart-health-education/heart-health-checks" target="_blank">Heart Health Information Line</a>:
                        <a href="tel:131112" target="_blank">13 11 12</a>
                    </h2>
                    <h2>
                        <a href="https://www.visionaustralia.org/" target="_blank">Vision Australia</a>:
                        <a href="tel:1300847466" target="_blank">1300 847 466</a>
                    </h2>
                    <h2>
                        <a href="https://yourhealthlink.health.nsw.gov.au/useful-phone-numbers-seniors/" target="_blank">Chemist Emergency Prescription Referral Service</a>:
                        <a href="tel:1300882294" target="_blank">1300 882 294</a>
                    </h2>
                    <h2>
                        <a href="https://www.nps.org.au/medicines-line" target="_blank">Medicines Line</a>:
                        <a href="tel:1300633424" target="_blank">1300 633 424</a>
                    </h2>
                    <h2>
                        <a href="https://www.healthdirect.gov.au/partners/get-healthy-information-and-coaching-service" target="_blank">Get Healthy Information and Coaching Service</a>:
                        <a href="tel:1300806258" target="_blank">1300 806 258</a>
                    </h2>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1 style="font-weight:bold">
                        Fall Prevention
                        (My Aged Care, Australia)
                    </h1>
                    <h2>
                        <a href="https://www.myagedcare.gov.au/" target="_blank">Falls Prevention at My Aged Care</a>:
                        <a href="tel:1800200422" target="_blank">1800 200 422</a>
                    </h2>
                    <h2>
                        <a href="https://www.myagedcare.gov.au/" target="_blank">Day Therapy Centres</a>:
                        <a href="tel:1800200422" target="_blank">1800 200 422</a>
                    </h2>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1 style="font-weight:bold">
                        Emergency Incidents
                    </h1>
                    <h2>
                        <a href="https://www.smartraveller.gov.au/consular-services/consular-services-charter" target="_blank">International incident emergency helpline</a>:
                        <br><a href="tel:1300555135" target="_blank">1300 555 135 (within Australia)</a>
                    </h2>
                    <h2>
                        <a href="https://www.lifeline.org.au/" target="_blank">Lifeline</a>:
                        <a href="tel:131114" target="_blank">13 11 14</a>
                    </h2>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <h1 style="font-weight:bold">
                        Aged Care Helpines
                    </h1>
                    <h2>
                        <a href="https://www.carersaustralia.com.au/" target="_blank">Carers Australia</a>:
                        <a href="tel:1800242636" target="_blank">1800 242 636</a>
                    </h2>
                    <h2>
                        <a href="https://www.myagedcare.gov.au/" target="_blank">Aged Care Information (Help at home and Community Care program)</a>:
                        <a href="tel:1800200422" target="_blank">1800 200 422</a>
                    </h2>
                    <h2>
                        <a href="https://www.myagedcare.gov.au/" target="_blank">Aged Care Assessment Teams</a>:
                        <a href="tel:1800200422" target="_blank">1800 200 422</a>
                    </h2>
                    <h2>
                        <a href="https://www.servicesaustralia.gov.au/individuals/older-australians" target="_blank">Centrelink: Older Australians</a>:
                        <a href="tel:132300" target="_blank">13 23 00</a>
                    </h2>
                    <h2>
                        <a href="https://www.health.gov.au/initiatives-and-programs/national-aged-care-advocacy-program-nacap" target="_blank">National Aged Care Advocacy Line</a>:
                        <a href="tel:1800700600" target="_blank">1800 700 600</a>
                    </h2>
                </div>
            </div>




        </div>
    </div>




</body>
</html>
