@{
    ViewBag.Title = "Emergency Helplines";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Emergency Helpline Numbers</title>
</head>
<body>
    <div>
        <h3>
            Police/Fire/Ambulance: 000

            Falls Prevention @ My Aged Care 1800 200 422

            SES assistance in floods and storms: 132 500

            Police attendance: 131 444 (all states except Victoria)

            International incident emergency helpline: 1300 555 135 (within Australia)

            Lifeline: 13 11 14

            Kids Helpline: 1800 551 800 for young people 5-25 years

            Suicide Call Back Service: 1300 659 467

            Carers Australia: 1800 242 636

            Aged Care Information 1800 200 422

            Aged Care Assessment Teams 1800 200 422

            Aged Care Complaints Investigation Scheme 1800 951 822

            Al Anon Family Groups 1300 252 666

            Anxiety Disorders Information Line 1300 794 992

            Arthritis Australia 1800 011 041

            Asthma Australia  1800 278 462

            Australian Hearing  134 432

            Australian Organ Donor Register  1800 777 203

            Beyond Blue National Depression Initiative  1300 224 636

            Blue Knot Foundation: Empowering recovery from childhood trauma helpline 1300 657 380

            BreastScreen NSW 13 20 50

            Bowel Cancer Australia Helpline  1800 555 494

            Cancer Council Helpline 13 11 20

            Carers Helpline  1800 242 636

            The Carer Experience: An essential guide for carers of people with dementia is a very popular and practical booklet for carers that can be ordered, free of charge, by calling 1800 200 422

            Carers Payments 13 27 17

            Centrelink: Older Australians 13 23 00

            Cervical Screening NSW 1800 627 701

            Chemist Emergency Prescription Referral Serv. 1300 882 294

            Commonwealth Respite and Carelink Centres  1800 052 222 or Emergency Respite outside business hours: 1800 059 059

            Continence Foundation of Australia 1800 330 066

            Day Therapy Centres:

            For aged care information call 1800 200 422

            You can find out more about Day Therapy Centres by contacting your doctor, community nurse or your local hospital or ring 1800 200 422

            Diabetes Australia 1300 136 588

            Domestic Violence Line 1800 656 463

            1800RESPECT: Domestic Violence Sexual Assault Counselling 1800 737 732

            Elder Abuse Helpline 1800 628 221

            Financial information (pensions and allowances): Centrelink (financial assistance for carers) – 13 27 17 or for multilingual information – 13 12 02

            Get Healthy Information and Coaching Service 1300 806 258

            Grief Line  1300 845 745

            Health Services for Veterans  13 32 54

            Heart Health Information Line 13 11 12

            HEP ABC National Information Line 1800 437 222

            Help at home and Community Care program: For aged care information call 1800 200 422

            Immunise Pneumococcal Disease and Seasonal Influenza  1800 671 811

            Immunisation Programs for Older Australians: Immunise Australia Information Line 1800 671 811

            Kidney Health Australia 1800 454 363

            Law Access NSW 1300 888 529

            Lifeline 13 11 14

            Lifeline – Loss & Grief   13 11 14

            Link2home 1800 152 152

            Medicines Line 1300 633 424

            MensLine Australia 1300 78 99 78

            My Aged Care 1800 200 422

            National Aged Care Advocacy Line 1800 700 600

            National Bowel Cancer Screening Program 1800 118 868

            National Cervical Screening Program  13 15 56

            National Continence Helpline  1800 330 066

            National Dementia Helpline 1800 100 500

            National Relay Service

            The National Relay Service (NRS) is an Australian Government initiative. It is a phone solution that lets people who are deaf or have a hearing and/or speech impairment ring anyone, anywhere and vice versa. A specially trained relay officer relays the phone conversation between the two parties and helps the call go smoothly.

            Depending on your circumstances, you will need either a standard telephone, a computer with modem or a teletypewriter (TTY).

            The NRS is available 24 hours a day, seven days a week. All relay calls are confidential. Calls via the NRS cost about the same as a local phone call. Training on making relay calls is free.

            The NRS also provides a text-based emergency service that enables access to police, fire brigade or ambulance by dialling 106 on a TTY.

            To make an NRS call: 13 36 77 (TTY/voice) OR 1300 555 727 (speak and listen) Then dial or ask for the phone number you wish to call. 1800 555 660 (NRS Helpdesk—for more information or support).

            National Stroke Foundation StrokeLine 1800 787 653

            Northcott: Disability Service 1800 818 286

            Osteoporosis Australia  1800 242 141

            Partners in Culturally Appropriate Care (PICAC): New South Wales 02 4229 7566

            Poisons Information Centre   13 11 26

            Quitline 13 78 48

            Reading and Writing Hotline 1300 655 506

            Service NSW 13 77 88

            Sexual Health Info Line – 1800 451 624

            Stimulant Treatment Line  1800 101 188

            Stroke Recovery Association of NSW 1300 650 594

            The Right Mix: Alcohol and Drug Information Service 1800 422 599

            The Right Mix offers veterans a range of resources to recognise whether they have the right balance of alcohol in their lives.

            Translating and Interpreting Service (TIS) 13 14 50

            Veterans & Veterans Families Counselling Services 1800 011 046

            Veterans’ Home Care:
            To arrange an assessment call a VHC Assessment Agency on 1300 550 450.

            For information about services available for veterans, war widows and war widowers, contact the Department of Veterans’ Affairs on 13 32 54 or 1800 555 254

            Help is also available through the Veterans’ Affairs Networks (VANs). They provide up-to-date information for veterans, war widow(er)s and their carers, and are located in all capital cities and in areas with large veteran communities. For more information contact 13 32 54, or for the nearest VAN office, call 1800 555 254

            Victims Access Line 1800 633 063
        </h3>
    </div>
</body>
</html>
